.container {  display: grid;
    grid-template-columns: 0.7fr 0.8fr 1.4fr;
    grid-template-rows: 0.6fr 1.6fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "artistpseudonym artistpseudonym artistpseudonym"
      "genres photo description"
      "contact follow embeds";
}
  
.photo { 
    grid-area: photo; 
}
  
.description { 
    grid-area: description;
    background: rgba(150, 230, 179, 0.281);
    box-shadow: -5px -5px 20px rgb(0, 0, 0);
    font-size: larger;
    margin-right: 10%;
    margin-bottom: 16%;
}

.description p {
    font-style: italic;
    margin-left: 5%;
    margin-right: 25%;
}

.description h1 {
    margin-left: 5%;
    margin-top: 5%;
}
  
.artistpseudonym { 
    grid-area: artistpseudonym;
}

.artistpseudonym h1 { 
    margin-left: 31%;
    font-size: 33px;
}

.artistpseudonym h2 { 
    position: relative;
    top: 43%;
}
  
.genres { 
    grid-area: genres; 
}  

.contact {
    grid-area: contact;
}

.follow { 
    grid-area: follow;
    padding-left: 12%;
    padding-top: 25%;
    font-size: 30px;
}

.embeds {
    grid-area: embeds;
}

body {
    background:
    linear-gradient(to left top, #ff7eb4 0%/*bottom-right color*/, #ffc0c0 /*middle color*/, rgb(255, 255, 160) 100% /*top-left color*/),
    linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 1));
    margin-left: 10%;
}

img { 
    box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.529); 
}